*.docx

/wiki_img/*.png
/wiki_img/*.jpg
/wiki_img/*.pdf
/wiki_img/*.svg
!/wiki_img/Grid.jpg

/geojsons
/jsons

/notebooks/S2B*
/notebooks/debug*
/notebooks/test_binning

*.tif

*.bkp

*.xml

/src/tests/debug*.py

/logs/debug*
/logs/sanity*