*.docx

/wiki_img/*.png
/wiki_img/*.jpg
/wiki_img/*.pdf
/wiki_img/*.svg
!/wiki_img/Grid.jpg

/geojsons
/jsons

/notebooks/S2B*
/notebooks/debug*
/notebooks/test_binning

*.tif

*.bkp

*.xml

/src/tests/debug*.py

/logs/debug*
/logs/sanity*

/ows/.env
/ows/.gitignore
/ows/.env_ows_root
/ows/.env_simple
/ows/launch.bat
/ows/integration_tests
/ows/datacube_ows
/ows/complementary_config_test
/ows/artifacts
/ows/docs
/ows/docker
/ows/tests
ows/.env
ows/.readthedocs.yaml
ows/.pre-commit-config.yaml
ows/CONTRIBUTING.rst
ows/check-code-all.sh
ows/check-code.sh
ows/code-of-conduct.md
ows/.yamllint
ows/cfg_parser.py
ows/dive-ci.yml
ows/docker-compose.cleandb.yaml
ows/docker-compose.index.yaml
ows/docker-compose.prod.yaml
ows/docker-compose.db.yaml
ows/docker-compose.pyspy.yaml
ows/HISTORY.rst
ows/LICENSE
ows/license-template.txt
ows/licenseheaders.py
ows/load_test.sh
ows/MANIFEST.in
ows/messages.po
ows/ows_cfg_report.json
ows/pylintrc
ows/pyproject.toml
ows/wms_xsds/capabilities_1_3_0.xsd
ows/wms_xsds/capabilities_extensions_local.xsd
ows/wms_xsds/capabilities_extensions.xsd
ows/wms_xsds/exceptions_1_3_0.xsd
ows/wms_xsds/wmtsGetCapabilities_response.xsd
ows/.env
ows/compare-cfg.sh
ows/SECURITY.md
ows/spellcheck.yaml
ows/test_urls.sh
ows/update_ranges.py
ows/uv.lock
ows/wordlist.txt
ows/Dockerfile
ows/Dockerfile.micromamba
ows/env.micromamba.yaml
ows/inventory.json
ows/license-headers.md
ows/README.rst
ows/s2_l2a_extractor.py
